@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --colour-grey: #858585;
    --colour-grey-dark: #252525;
    --colour-primary: #ff4d40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.1s;
}

.content {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
}

header {
    grid-column: 1 / 3;
    background: #6fbeff;
}

nav {
    background: #a2d7ff;
}

main {
    background: #d6f3ff;
}


/* Modal */

.modal-container {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #00000070;
}

.modal {
    background: #ffffff;
    border: 1px solid var(--colour-grey);
    border-radius: 10px;
    width: 500px;
}

.modal .footer-right {
    display: flex;
    gap: 8px;
}

.modal-cancel,
.modal-confirm {
    font-weight: bold;
    font-size: 0.85rem;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.modal-cancel {
    color: var(--colour-grey-dark);
}

.modal-confirm {
    color: white;
    background: var(--colour-primary);
}


/* New-Task Modal */

.new-task .modal-main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px 12px 12px;
    border-bottom: 1px solid var(--colour-grey);
}

.new-task .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.new-task input[type='text'],
.new-task textarea {
    border: none;
    font-size: 0.9rem;
    color: var(--colour-grey-dark);
}

.new-task input[type='text']:placeholder-shown,
.new-task textarea:placeholder-shown {
    color: var(--colour-grey);
}

.new-task input:focus-visible,
.new-task textarea:focus-visible {
    outline: none;
}

.new-task input {
    font-weight: bold;
}

.new-task textarea {
    resize: vertical;
    max-height: 120px;
}

.selection-container {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-top: 6px;
}

.selection-container>* {
    padding: 5px;
    border: 1px solid var(--colour-grey);
    border-radius: 5px;
    background: white;
    color: var(--colour-grey);
}

.footer-left>select {
    /* border: 1px solid var(--colour-grey); */
    border: none;
    border-radius: 5px;
    background: white;
    color: var(--colour-grey);
    padding: 5px;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 8px 4px;
}


/* Hover styles */

.selection-container>*:hover,
.footer-left>select:hover,
button:hover {
    filter: brightness(0.95);
}

.modal-confirm:hover {
    filter: brightness(0.83)
}


/* Active styles */

button:active{
    transform: scale(0.95);
}