@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --colour-grey: #858585;
    --colour-grey-l2: #f1f1f1;
    --colour-grey-l1: #e2e2e2;
    --colour-grey-d1: #6f6f6f;
    --colour-grey-d2: #252525;

    --colour-primary: #d1453b;

    --colour-priority-med: #f97316;
    --colour-priority-med-bg: #fff7ed;
    --colour-priority-med-hover: #ffedd5;

    --colour-priority-high: #dc2626;
    --colour-priority-high-bg: #fef2f2;
    --colour-priority-high-hover: #fee2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--colour-grey-d2);
}

.content {
    height: 100vh;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 90px 1fr;
}

/* Header */

header {
    grid-column: 1 / 3;
    background: var(--colour-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

header>h1 {
    color: white;
    font-weight: 600;
    font-size: 2.4rem;
    position: relative;
    margin-left: 60px;
}

header>h1::before {
    content: '';
    position: absolute;
    background: white;
    height: 50px;
    width: 50px;
    left: -60px;
    -webkit-mask: url(check-all.svg) no-repeat center;
    mask: url(check-all.svg) no-repeat center;
}

header>button {
    position: relative;
    background: white;
    border: none;
    height: 46px;
    width: 46px;
    -webkit-mask: url(plus.svg) no-repeat center;
    mask: url(plus.svg) no-repeat center;
    transition: 0.1s;
}

header>button:hover {
    transform: scale(1.08);
    filter: none;
}


/* Sidebar */

nav {
    background: var(--colour-grey-l2);
}

nav>* {
    margin: 20px;
}

nav ul {
    list-style: none;
}

nav li,
.project,
.add-project {
    padding: 10px 20px 10px 40px;
    border-radius: 5px;
    position: relative;
}

nav li:hover,
.project:hover,
.active,
.add-project:hover {
    background: var(--colour-grey-l1);
}

.active {
    font-weight: bold;
}

.project-section>.header {
    margin: 24px 0 10px;
}

.project {
    display: flex;
    align-items: center;
    gap: 6px;
    min-height: 40px;
}

.project:hover>button {
    display: block;
}

.project>.title {
    margin-right: auto;
    max-width: 120px;
    overflow: hidden;
}

.project>button {
    background: var(--colour-grey);
    border: none;
    height: 20px;
    width: 20px;
    display: none;
    flex-shrink: 0;
}

.project>button:hover {
    background: var(--colour-grey-d2);
}

.project>.edit-button {
    -webkit-mask: url(pencil.svg) no-repeat center;
    mask: url(pencil.svg) no-repeat center;
}

.project>.delete-button {
    -webkit-mask: url(delete.svg) no-repeat center;
    mask: url(delete.svg) no-repeat center;
}

.add-project {
    margin-top: 10px;
    border: none;
    font-size: 1rem;
    text-align: start;
    width: 100%;
}

/* Sidebar Icons */

.project::before,
.add-project::before,
.project[data-index="0"]::before,
.home-section li:nth-child(2)::before,
.home-section li:nth-child(3)::before {
    content: '';
    position: absolute;
    left: 12px;
    background: var(--colour-grey-d2);
    height: 20px;
    width: 20px;
}

.project::before {
    -webkit-mask: url(format-list-bulleted.svg) no-repeat center;
    mask: url(format-list-bulleted.svg) no-repeat center;
}

.add-project::before {
    -webkit-mask: url(plus.svg) no-repeat center;
    mask: url(plus.svg) no-repeat center;
}

.project[data-index="0"]::before {
    -webkit-mask: url(inbox.svg) no-repeat center;
    mask: url(inbox.svg) no-repeat center;
}

.home-section li:nth-child(2)::before {
    -webkit-mask: url(calendar-today.svg) no-repeat center;
    mask: url(calendar-today.svg) no-repeat center;
}

.home-section li:nth-child(3)::before {
    -webkit-mask: url(calendar-week.svg) no-repeat center;
    mask: url(calendar-week.svg) no-repeat center;
}


/* Main Section */

main {
    background: white;
    padding: 30px 50px;
}

main>h2 {
    font-size: 2rem;
    color: var(--colour-grey-d2);
    margin-bottom: 16px;
}

.task {
    display: grid;
    grid-template-columns: auto 1fr 22px 22px;
    grid-template-rows: 18px;
    padding: 10px 0;
    column-gap: 8px;
    row-gap: 6px;
    border-bottom: 1px solid var(--colour-grey-l1);
}

.task:hover>.edit-button,
.task:hover>.delete-button {
    display: block;
}

.task>.complete-button {
    background: white;
    border: 1px solid var(--colour-grey);
    border-radius: 20px;
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
}

.task>.complete-button:hover::before {
    content: '';
    position: absolute;
    background: var(--colour-grey);
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    -webkit-mask: url(check.svg) no-repeat center;
    mask: url(check.svg) no-repeat center;
}

.task>.complete-button.high-priority {
    background: var(--colour-priority-high-bg);
    border: 1px solid var(--colour-priority-high);
}

.task>.complete-button.med-priority {
    background: var(--colour-priority-med-bg);
    border: 1px solid var(--colour-priority-med);
}

.task>.complete-button.high-priority:hover {
    background: var(--colour-priority-high-hover);
    filter: none;
}

.task>.complete-button.med-priority:hover {
    background: var(--colour-priority-med-hover);
    filter: none;
}

.task>.complete-button.high-priority:hover::before {
    background: var(--colour-priority-high);
}

.task>.complete-button.med-priority:hover::before {
    background: var(--colour-priority-med);
}

.task>.description {
    font-size: 0.85rem;
    color: var(--colour-grey-d1);
}

.task>.dueDate {
    font-size: 0.85rem;
    color: var(--colour-primary);
    position: relative;
    padding-left: 20px;
}

.task>.dueDate::before {
    content: '';
    position: absolute;
    left: 0;
    height: 16px;
    width: 16px;
    background: var(--colour-primary);
    -webkit-mask: url(calendar-today.svg) no-repeat center;
    mask: url(calendar-today.svg) no-repeat center;
}

.task>.edit-button,
.task>.delete-button {
    background: var(--colour-grey);
    display: none;
    border: none;
    height: 22px;
    width: 22px;
}

.task>.edit-button {
    position: relative;
    left: 3px;
    -webkit-mask: url(pencil.svg) no-repeat center;
    mask: url(pencil.svg) no-repeat center;
}

.task>.delete-button {
    -webkit-mask: url(delete.svg) no-repeat center;
    mask: url(delete.svg) no-repeat center;
}

.task>.edit-button:hover,
.task>.delete-button:hover {
    background: var(--colour-grey-d2);
}

main>.add-task {
    margin-top: 14px;
    padding-left: 24px;
    background: none;
    border: none;
    color: var(--colour-grey);
    font-size: 1rem;
    position: relative;
    width: 100%;
    text-align: left;
}

main>.add-task:active {
    transform: none;
}

main>.add-task::before {
    content: '';
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background: var(--colour-primary);
    -webkit-mask: url(plus.svg) no-repeat center;
    mask: url(plus.svg) no-repeat center;
}

main>.add-task:hover{
    color: var(--colour-primary);
    filter: none;
}

main>.add-task:hover::before {
    -webkit-mask: url(plus-circle.svg) no-repeat center;
    mask: url(plus-circle.svg) no-repeat center;
}

/* Task Grid Layout */

.task>.complete-button {
    grid-column: 1/2;
}

.task>.title,
.task>.description,
.task>.dueDate {
    grid-column: 2/3;
}

.task>.edit-button {
    grid-column: 3/4;
}

.task>.delete-button {
    grid-column: 4/5;
}

.task>.edit-button,
.task>.delete-button {
    grid-row: 1/2;
}


/* Modal */

.modal-container {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #00000070;
}

.modal {
    background: #ffffff;
    border: 1px solid var(--colour-grey-l2);
    border-radius: 10px;
    width: 500px;
}

.modal .footer-right {
    display: flex;
    gap: 8px;
}

.modal-cancel,
.modal-confirm {
    font-weight: bold;
    font-size: 0.85rem;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.modal-cancel {
    color: var(--colour-grey-d2);
}

.modal-confirm {
    color: white;
    background: var(--colour-primary);
}


/* New-Task Modal */

.new-task .modal-main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px 12px 12px;
    border-bottom: 1px solid var(--colour-grey-l1);
}

.new-task .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.new-task input[type='text'],
.new-task textarea {
    border: none;
    font-size: 0.9rem;
    color: var(--colour-grey-d2);
}

.new-task input[type='text']:placeholder-shown,
.new-task textarea:placeholder-shown {
    color: var(--colour-grey);
}

.new-task input:focus-visible,
.new-task textarea:focus-visible {
    outline: none;
}

.new-task input {
    font-weight: bold;
}

.new-task textarea {
    resize: vertical;
    max-height: 120px;
}

.selection-container {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-top: 6px;
}

.selection-container>* {
    padding: 5px;
    border: 1px solid var(--colour-grey-l1);
    border-radius: 5px;
    background: white;
    color: var(--colour-grey);
}

.footer-left>select {
    border: none;
    border-radius: 5px;
    background: white;
    color: var(--colour-grey);
    padding: 5px;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 8px 4px;
}

.footer-left>select:disabled {
    color: var(--colour-grey);
    background: var(--colour-grey-l2);
}

.footer-left>select:disabled:hover {
    filter: none;
}

/* New-Project Modal */

.modal-header {
    padding: 10px 14px 4px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--colour-grey-d2);
}

#project-title {
    border: 1px solid var(--colour-grey-l1);
    border-radius: 5px;
    padding: 8px;
    font-size: 0.9rem;
    color: var(--colour-grey-d2);
    margin: 8px 14px;
    font-weight: bold;
    width: calc(100% - 28px);
}

#project-title:hover {
    background: var(--colour-grey-l2);
}

.modal-controls {
    width: 100%;
    padding: 8px 14px;
    display: flex;
    justify-content: end;
    gap: 8px;
}


/* Hover styles */

.selection-container>*:hover,
.footer-left>select:hover,
button:hover {
    filter: brightness(0.95);
}

.modal-confirm:hover {
    filter: brightness(0.83)
}



/* Active styles */

button:active {
    transform: scale(0.95);
}